:root{
    --mainBgColor: black;
    --playerBarColor: white;
    --textScoreColor: white;
    --ballColor: white;
    --playersBarWidth: 0.7vw;
    --playersBarHeight: 15vh;
    --scoreBoardWidth : 15vw;
    --scoreBoardHeight : 10vh;
}

body{
    background-color: var(--mainBgColor);
    height: fit-content;
    overflow: hidden;
    margin: 0;
}

h2{
    color:var(--textScoreColor);
    text-align: center;
    font-size: 2rem;
}

#player1{
    width: var(--playersBarWidth);
    height: var(--playersBarHeight);
    max-width: var(--playersBarWidth);
    border-style: solid;
    background-color: var(--playerBarColor);
    border-width: 0.1rem;
    position: absolute;
    margin: 0;
    padding: 0;
}

#player2{
    width: var(--playersBarWidth);
    height: var(--playersBarHeight);
    max-width: var(--playersBarWidth);
    border-style: solid;
    background-color: var(--playerBarColor);
    border-width: 0.1rem;
    position: absolute;
    left: 98.5vw;
    margin: 0;
    padding: 0;
}

#ball{
    width: 2.7vh;
    height: 2.7vh;
    position: absolute;
    left: 30vw;
}

.red-color{
    background-color: red;
}

.white-color{
    background-color: var(--ballColor);
}

.scoreBoard{
    max-width: fit-content;
    color: var(--textScoreColor);
    /* border-width: 0.1rem; */
    position: absolute;
    top: 49vh;
    left: 46vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    visibility: hidden;
}

.player-bar-style{
    width: var(--playersBarWidth);
    height: var(--playersBarHeight);
    max-width: var(--playersBarWidth);
    border-style: solid;
    background-color: var(--playerBarColor);
    border-width: 0.1rem;
    position: absolute;
}

.reset-margin-padding{
    margin: 0;
    padding: 0;
}

.relative-help{
    position: relative;
}

.multi-menu{
    position: absolute;
    left: 32vw;
    top: 40vh;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    border: solid 1vmin var(--textScoreColor);
    border-radius: 10%;
    background-color: black;
}

.multi-menu h2{
    width: 30vw;
    cursor: pointer;
}

.multi-menu h2:hover{
    text-shadow: 2px 2px 5px white, 0 0 0.5em white, 0 0 0.5em white;
}